<!-- help.html.erb is called "help template" -->
<% content_for :head do %>Help<% end %>
<h1>StaticPages#help</h1>
<p>
  <!-- Find me in app/views/static_pages/help.html.erb -->
  Get help on the Ruby on Rails Tutorial at
  <a href="https://railstutorial.jp/help">Rails Tutorial Help page</a>
  </br>
  To get help on this sample app, see the
  <a href="https://railstutorial.jp/#ebook"><em>Ruby on Rails Tutorial</em>
  book</a>.
</p>
