<% content_for :head do %><% end %>

<h1>StaticPages#home</h1>
<p>
  <!-- Find me in app/views/static_pages/home.html.erb -->
  This is the home page for the
  <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
  sample application.
</p>
